<div class="flex px-8 py-8">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Password</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of usersData">
        <td>{{ user.Name }}</td>
        <td>{{ user.Email }}</td>
        <td>{{ user.Password }}</td>
        <td>
          <span class="flex items-center gap-2">
            <div [ngClass]="user.Status? 'bg-green-800' : 'bg-red-700'" class="w-2 h-2 rounded-full"></div>
            {{ user.Status? 'Active' : 'Inactive' }}
          </span>
        </td>
      </tr>
    </tbody>
  </table>  
</div>